section#about.about
    h4.about__title О тесте
    p.about__text Преимплантационная генетическая диагностика (ПГД) – это вид пренатальной диагностики, выполняемой на эмбрионах ранней стадии развития,
        | полученных в результате экстракорпорального оплодотворения (ЭКО). В отличие от остальных видов пренатальной диагностики,
        | выполняемых на ворсинах хориона или амниотической жидкости, ПГД выполняется на эмбрионах, еще не перенесенных в полость матки,
        | т.е. до наступле­ния беременности. Несмотря на ряд заблуждений, ПГД не является процедурой по «лечению» эмбрионов,
        | в результате данной диагностики лишь устанавливается, имеет ли исследуемый эмбрион ту или иную патологию.
        br
        | Данная информация помогает супружеской паре и лечащему врачу определиться с выбором эмбриона,
        | который будет перенесен в полость матки. Чем больше эмбрионов подвергаются исследованию, тем выше вероятность нахождения «здоровых» эмбрионов.
    p.about__text Материалом для выполнения ПГД чаще всего служат клетки трофектодермы – клетки эмбриона 5&#8239;-&#8239;6 суток развития,
        | из которых в дальнейшем формируются внезародышевые ткани (плацента, плодные оболочки).
        | В отличие от биопсии эмбрионов более ранних стадий развития (биопсия полярных телец или бластомеров),
        | при биопсии трофектодермы практически отсутствует риск остановки эмбрионов в развитии после проведения процедуры,
        | а так же значительно повышается точность диагностики.
    p.about__text ПГД можно разделить на несколько подгрупп:
    ul.about__list
        li Преимплантационный генетический скрининг (PGS).
        li ПГД моногенных заболеваний.
        li ПГД при структурных хромосомных перестройках (инверсии, транслокации).
        li Определение пола эмбрионов по медицинским показаниям.
        li ПГД HLA-гаплотипа эмбрионов.
    p.about__text Специалисты нашего центра дадут Вам расширенные ответы на интересующие вопросы, определят необходимость проведения ПГД/ПГС, расскажут о преимуществах и недостатках
        | каждого из используемых методов. Опытные генетики компании «Проген» дадут подробную консультацию по результатам проведенных исследований,
        | что позволит сформировать дальнейшую репродуктивную стратегию.
    span.about__subtitle ПОКАЗАНИЯ ДЛЯ ПРОВЕДЕНИЯ ПРЕИМПЛАНТАЦИ ОННОГО ГЕНЕТИЧЕСКОГО CKPHHHHrA(PGS, CCS, ПГС)*
    ul.about__list
        li Наличие изменений в кариотипе одного из партнёров;
        li Предыдущие беремености с хромосомной патологией;
        li Привычное невынашивание беременности (две и более неразвивающиеся беременности);
        li Две и более неудачные попытки ЭКО при переносе эмбрионов хорошего качества;
        li ЭКО у пациенток с первичным бесплодием старше 37 лет.
    span.about__subtitle КОГДА ВОЗМОЖНО ПРОВЕДЕНИЕ ПГС?
    p.about__text На сегодняшний день наиболее оптимальным материалом для проведения ПГС являются клетки трофектодермы,
        | которые получают путем биопсии эмбрионов (бластоцист) на 5-6 сутки их развития. Вмешательство на этой стадии является наименее травматичным,
        | не отражается на их жизнеспособности, а возможность получить для диагностики несколько клеток (от 4 до 10) снижает вероятность ошибочной диагностики вследствие возможного мозаицизма.
    span.about__subtitle ВОЗМОЖНО ЛИ ПРОВЕДЕНИЕ ПГС КРИОКОНСЕРВИРОВАННЫХ ЭМБРИОНОВ?
    p.about__text Существующие технологии позволяют проводить ПГС в течение 24 часов с момента получения материала.
        | Это помогает избежать повторной криоконсервации эмбрионов и увеличивает эффективность попытки ЭКО.
        | Обсудите с Вашим лечащим врачом проведение ПГС в цикле переноса криоконсервированных эмбрионов.
    span.about__subtitle ПОКАЗАНИЯ ДЛЯ ПРОВЕДЕНИЯ ПРЕИМПЛАНТАЦИОННОЙ ГЕНЕТИЧЕСКОЙ ДИАГНОСТИКИ (ПГД, PGD)*
    ul.about__list
        li Носительство женщиной Х-сцепленного заболевания;
        li Носительство одним из партнеров аутосомно-доминатного заболевания;
        li Носительство обоими партнерами одного и того же аутосомно-рецессивного заболевания.
