section#advantages.advantages
    h4.advantages__title более 2000 людей выбрали нашу клинику
    figure.advantages__block.block
        img(src='img/icons/icon_about_1.svg' alt='advantage' height='128')
        figcaption.block__info.info
            h6.info__title Сроки выполнения услуг
            p.info__text Короткие сроки выполнения услуг позволят не волноваться за Ваш тест. И ожидать выполнение его раньше указанного срока.
    figure.advantages__block.block
        figcaption.block__info.info
            h6.info__title квалифицированный персонал
            p.info__text В лаборатории и в медицинском центре будут выполняться тесты специалистами, имеющими многолетний опыт работы как врачами генетиками, так и врачами репродуктологами.
        img(src='img/icons/icon_about_2.svg' alt='advantage' height='126')
    figure.advantages__block.block
        img(src='img/icons/icon_about_3.svg' alt='advantage' height='118')
        figcaption.block__info.info
            h6.info__title приемлемые цены
            p.info__text Компания ПРОГЕН — клиент ориентированная компания, которая заботиться о том, что бы предоставить нашим пациентам выгодные цены наряду с качественным сервисом.
    figure.advantages__block.block
        figcaption.block__info.info
            h6.info__title Современное и высококлассное оборудование
            p.info__text Мы оснащены большим количеством высококлассного оборудования. В&nbsp;настоящее время лаборатория постоянно модернизируется и обновляется в ногу со временем.
        img(src='img/icons/icon_about_4.svg' alt='advantage' height='129')
