section#banner.banner
    h1.banner__title про_ПГД
    p.banner__text Преимплантационная генетическая диагностика (ПГД) – диагностика генетических заболеваний у эмбриона человека до имплантации в матку (до момента наступления беременности).
    button#callback.banner__button заказать тест
    a.banner__details(href='#about') Узнать подробности
