section.questions
    h4.questions__title Популярные вопросы
    .questions__container
        figure#answer--1.questions__choice
            object(type="image/svg+xml" height="128" data="img/icons/icon_question_1.svg")
        figure#answer--2.questions__choice.questions__choice--active
            object(type="image/svg+xml" height="128" data="img/icons/icon_question_2.svg")
        figure#answer--3.questions__choice
            object(type="image/svg+xml" height="128" data="img/icons/icon_question_3.svg")
    article.questions__answer.questions__answer--1
        h6.answer__title Нужно ли проходить консультацию перед проведением ПГД?
        p.answer__text Перед проведение ПГС/ПГД необходимо пройти консультацию генетика, специализирующегося в области генетики ВРТ и бесплодия.
            | Специалисты нашего центра дадут Вам расширенные ответы на интересующие вопросы, определят необходимость проведения теста,
            | раскажут о преимуществах и недостатках каждого метода. По результатам диагностики, наши опытные генетики дадут Вам подробную консультацию
            | и помогут составить дальнейшую репродуктивную стратегию.
    article.questions__answer.questions__answer--2.active
        h6.answer__title Как узнать свой статус носителя моногенных заболеваний?
        p.answer__text Мы предлагаем Вам пройти тест «
            a(href="#" alt="PRO RISK" target="_blank") ПРО_РИСК
            | », который проверяет носительство до 274 генетических заболеваний.
            | По результатам вы получите рекомендации по выбору подходящего Вам варианта скрининга на&nbsp;основании Вашего этнического происхождения и&nbsp;других факторов.
    article.questions__answer.questions__answer--3
        h6.answer__title Когда возможно проведение ПГД&nbsp;/&nbsp;ПГС?
        p.answer__text На сегодняшний день наиболее оптимальным материалом для проведения ПГД/ПГС являются клетки трофектодермы, которые получают путем биопсии эмбрионов на 5-6 сутки их развития.
            | На этой стадии вмешательство наименее травматично, не отражается на их жизнеспособности, а возможность получить для диагностики несколько клеток (от 4 до 10)
            | снижает вероятность ошибочной диагностики вследствие возможного мозаицизма.
