section#specialists.specialists
    img.specialists__photo(src='img/specialist_photo.jpg' alt='specialist' height='352')
    article.specialists__card.card
        h5.card__title Иванов
        span.card__subtitle Михаил Алексеевич
        span.card__label Специальность – генетика, лабораторная генетика, эмбриология.
        p.card__text Образование – Высшее, ГБОУ ВПО Московская Медицинская Академия им. И.М. Сеченова, выпуск 2004&nbsp;г.
            br
            | Врач по специальности «лечебное дело»
            br
            | Ординатура по специальности «лабораторная генетика», Медико-генетический научный центр РАМН, 2006
            br
            | Аспирантура - Медико-генетический научный центр РАМН, 2009 год. Тема – «Частота распространённых анеуплоидий у эмбрионов преимплантационной и ранней гестационной стадий развития»
        p.card__text С 2009 года – член европейского общества генетики человека (ESHG) и европейского общества репродукции человека и эмбриологии (ESHRE)
