
<svg xmlns="http://www.w3.org/2000/svg" viewbox="-958 955.3 60 60" style="enable-background:new -958 955.3 60 60;">
  <path fill="#c7c7c7" d="M-932,965.3c1.7,0,3-1.3,3-3s-1.3-3-3-3s-3,1.3-3,3S-933.7,965.3-932,965.3z M-932,961.3c0.6,0,1,0.4,1,1s-0.4,1-1,1
	s-1-0.4-1-1S-932.6,961.3-932,961.3z M-903.3,962.5c-0.4-0.4-1-0.4-1.4,0l-1.3,1.3v-2.6c0-0.6-0.4-1-1-1h-13v-1c0-0.6-0.4-1-1-1
	h-4.2c-0.6-1.5-2.4-3-3.8-3h-6c-1.3,0-3.1,1.5-3.8,3h-4.2c-0.6,0-1,0.4-1,1v1h-13c-0.6,0-1,0.4-1,1v53c0,0.6,0.4,1,1,1h50
	c0.6,0,1-0.4,1-1v-37.6l7.7-7.7c0.4-0.4,0.4-1,0-1.4L-903.3,962.5z M-908,962.3v3.6l-2,2v-2.6c0-0.6-0.4-1-1-1h-9v-2H-908z
	 M-920.3,982.3l2.3,2.3l-2.7,0.5L-920.3,982.3z M-921.7,979.5C-921.7,979.5-921.7,979.6-921.7,979.5c-0.1,0.1-0.2,0.2-0.2,0.3
	c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.2l-1,6c-0.1,0.3,0.1,0.6,0.3,0.9c0.2,0.2,0.4,0.3,0.7,0.3c0.1,0,0.1,0,0.2,0l6-1c0.1,0,0.1,0,0.2,0
	c0,0,0.1,0,0.1,0c0.1,0,0.2-0.1,0.3-0.2c0,0,0,0,0,0l3.3-3.3v26.6h-40v-28h12c0.6,0,1-0.4,1-1v-11h18c0.6,0,1-0.4,1-1v-2h8v3.6
	L-921.7,979.5z M-943,969.3h2v10h-11v-13h8v2C-944,968.8-943.6,969.3-943,969.3z M-942,960.3h4c0.5,0,1-0.5,1-1c0-0.6,1.4-2,2-2h6
	c0.6,0,2,1.4,2,2c0,0.5,0.5,1,1,1h4v1v4v2h-20v-2v-4V960.3z M-908,1013.3h-48v-51h12v2h-9c-0.6,0-1,0.4-1,1v45c0,0.6,0.4,1,1,1h42
	c0.6,0,1-0.4,1-1v-29.6l2-2V1013.3z M-907.7,975.5l-4,4l-4.3,4.3l-3.6-3.6l9.3-9.3l4-4l2.3-2.3l3.6,3.6L-907.7,975.5z M-946.7,989
	l-2-2l1.4-1.4l1.3,1.3l4.3-4.3l1.4,1.4l-5,5c-0.2,0.2-0.5,0.3-0.7,0.3S-946.5,989.2-946.7,989z M-941,991.3h-6c-0.6,0-1,0.4-1,1v4
	c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1v-4C-940,991.7-940.4,991.3-941,991.3z M-942,995.3h-4v-2h4V995.3z M-941,1000.3h-6
	c-0.6,0-1,0.4-1,1v4c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1v-4C-940,1000.7-940.4,1000.3-941,1000.3z M-942,1004.3h-4v-2h4V1004.3z
	 M-936,984.3h11v2h-11V984.3z M-936,993.3h14v2h-14V993.3z M-936,1002.3h14v2h-14V1002.3z M-945,973.3h2v2h-2v2h-2v-2h-2v-2h2v-2h2
	V973.3z"></path>
</svg>