.callback-modal
  background: rgba(250, 250, 250, 0.8)
  display: none
  // by js when active form
  // display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  max-height: 100vh
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: fixed
  z-index: 500
  &--active
    display: flex
  &__form
    box-shadow: 0 0 15px rgba(31, 255, 255, 0.15)
    background-color: #fff
    max-width: 540px
    padding: 56px 94px 67px
    position: relative
    text-align: center
  .form
    &__close
      background: url("../../../img/icons/close.png")
      position: absolute
      top: 10px
      right: 10px
      width: 18px
      height: 19px
      &:hover,
      &:active
        background: url("../../../img/icons/close-hover.png") no-repeat
        background-size: cover
        width: 28px
        height: 29px
        top: 5px
        right: 5px
    &__title
      font-size: 17px
      font-weight: 600
      text-transform: uppercase
      color: #3b54ec
      margin-bottom: 67px
      position: relative
      width: 100%
      &:after
        content: ''
        background: #3b54ec
        box-shadow: 0 0 7px rgba(31, 255, 255, 0.25)
        position: absolute
        top: 139px
        left: 0
        width: 100%
        height: 1px
        z-index: 300
    &__input
      border: none
      display: block
      width: 100%
      text-align: center
      font-size: 17px
      font-weight: 400
      text-transform: uppercase
      letter-spacing: 3.33px
      &::placeholder
        color: #d9d9d9
    &__send
      background-color: #3b54ec
      box-shadow: 0 0 7px rgba(0, 110, 232, 0.25)
      border-radius: 18px
      color: #fefefe
      font-size: 17px
      font-weight: 400
      text-transform: uppercase
      letter-spacing: 3.33px
      width: 351px
      text-shadow: 0 0 7px rgba(255, 255, 255, 0.2)
      line-height: 35px
      margin-top: 83px
      &:hover,
      &:active
        background-color: #2c43ce


