.logo
  margin: 11px 0 12px
  width: 64px
  &__img
    background-size: contain
    display: block
    width: 62px
    height: 40px
    margin: 0 auto
  &__text
    background-size: contain
    width: 64px
    height: 13px
    margin-top: 12px

// only for header
.header .logo__text
  animation: bounceText 2s ease-in

.logo_x_second
  animation: logo_x_second_animation 2s

.logo_x_first
  animation: logo_x_first_animation 2s

@keyframes logo_x_first_animation
  from
    width: 0
  to
    width: 100%

@keyframes logo_x_second_animation
  from
    transform-origin: right bottom
    transform: translateX(100%)
  to
    transform-origin: right bottom
    transform: translateX(0%)

@keyframes bounceText
  0%
    margin-top: 26px
  40%
    margin-top: 0
  80%
    margin-top: 6px
  100%
    margin-top: 12px
