.nav-bar
  &__item
    display: inline-block
    color: #444
    font-size: 13px
    font-weight: 300
    line-height: 10.42px
    text-transform: uppercase
    padding-bottom: 10px
    position: relative
    &:not(:first-of-type)
      margin-left: 64px
    &:hover,
    &:active
      color: #444
      text-decoration: none
      &:after
        box-shadow: 0 0 9px rgba(0, 255, 234, 0.56)
        background-color: #00ffea
        content: ''
        width: 50%
        height: 4px
        position: absolute
        bottom: 0
        left: 25%
        opacity: 0.85
    &:first-of-type
      animation: slideBottom 0.5s
    &:nth-of-type(2)
      animation: slideBottomDelay1 1s
    &:nth-of-type(3)
      animation: slideBottomDelay2 1.5s
    &:nth-of-type(4)
      animation: slideBottomDelay3 2s

@keyframes slideBottom
  0%
    opacity: 0
    transform: translateY(50%)
  100%
    transform: translateY(0)
    opacity: 1

@keyframes slideBottomDelay1
  0%
    opacity: 0
    transform: translateY(50%)
  25%
    opacity: 0
    transform: translateY(50%)
  100%
    transform: translateY(0)
    opacity: 1

@keyframes slideBottomDelay2
  0%
    opacity: 0
    transform: translateY(50%)
  50%
    opacity: 0
    transform: translateY(50%)
  100%
    transform: translateY(0)
    opacity: 1

@keyframes slideBottomDelay3
  0%
    opacity: 0
    transform: translateY(50%)
  75%
    opacity: 0
    transform: translateY(50%)
  100%
    transform: translateY(0)
    opacity: 1
