.footer
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 70px 0 40px
  text-align: center
  .logo
    width: 100%
    margin-bottom: 56px
    &__img
      width: 96px
      height: 62px
    &__text
      width: 102px
      height: 21px
  &__contacts
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: center
    align-items: center
  .contacts
    &__link
      color: #8a8a8a
      font-size: 16px
      font-weight: 300
      line-height: 10.42px
      text-decoration: underline
      &:nth-of-type(2)
        font-size: 18px
        font-weight: 600
        color: #3b54ec
        line-height: 10.42px
        text-transform: uppercase
        margin: 0 168px 0 198px
    &__address
      margin-top: 32px
      width: 100%
      color: #8a8a8a
      font-size: 14px
      font-weight: 300
      letter-spacing: 0.7px
