.header
  background: #fff
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 0 129px
  height: 89px
  &__content
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: space-between

  .contacts
    font-size: 13px
    line-height: 10.42px
    text-transform: uppercase
    margin-top: 29px
    display: flex

    &__link
      color: #8a8a8a
      &:first-of-type
        padding-right: 44px
        animation: slideDown 1s
      &:last-of-type
        animation: slideDownDelay 2s

@keyframes slideDown
  0%
    opacity: 0
    visibility: hidden
    margin-top: -29px
  100%
    opacity: 1
    visibility: visible
    margin-top: 0

@keyframes slideDownDelay
  0%
    opacity: 0
    margin-top: -69px
  50%
    opacity: 0
    margin-top: -29px
  100%
    opacity: 1
    margin-top: 0
