doctype html
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="utf-8")
		//-base(href="/")

		// Запрет индексации (убрать по окончании разработки сайта)
		meta(name="robots" content="nofollow")

		block title
		meta(name="description" content="Описание страницы в несколько слов несколько слов")

		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		//Template Basic Images Start
		meta(property="og:image" content="img/favicon/og-image.png")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="icon", href="img/favicon/favicon.png")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")

		//Custom Browsers Color Start
		meta(name="theme-color", content="#353f42")

		//-Preloader styles
		//-link(rel="stylesheet", href="css/preloader.min.css")
		//-style.
			.preloader{position:fixed;left:0;top:0;width:100%;height:100%;background:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;z-index:100}.preloader-dots{height:50px;width:80px}.preloader-dots .dot{display:inline-block;background:#207eff;height:8px;width:8px;opacity:.5;-webkit-border-radius:50%;border-radius:50%;-webkit-animation:moveit 1.8s infinite;animation:moveit 1.8s infinite}.dot:nth-child(2){-webkit-animation-delay:.15s;animation-delay:.15s}.dot:nth-child(3){-webkit-animation-delay:.3s;animation-delay:.3s}.dot:nth-child(4){-webkit-animation-delay:.45s;animation-delay:.45s}.dot:nth-child(5){-webkit-animation-delay:.6s;animation-delay:.6s}@-webkit-keyframes moveit{0%{-webkit-transform:translateY(0);transform:translateY(0)}35%{-webkit-transform:translateY(-20px);transform:translateY(-20px);opacity:.5}50%{-webkit-transform:translateY(3px);transform:translateY(3px);opacity:1}70%{-webkit-transform:translateY(-3px);transform:translateY(-3px);opacity:1}85%{opacity:1}}@keyframes moveit{0%{-webkit-transform:translateY(0);transform:translateY(0)}35%{-webkit-transform:translateY(-20px);transform:translateY(-20px);opacity:.5}50%{-webkit-transform:translateY(3px);transform:translateY(3px);opacity:1}70%{-webkit-transform:translateY(-3px);transform:translateY(-3px);opacity:1}85%{opacity:1}}
	body
		//- Preloader
		.preloader
			.loader
		block header
		block modal
		//block breadcrumbs
		block content
		block footer

		script(src="js/scripts.min.js")
