extends _template.pug
block title
	title ПГД

block header
	include include/_header-regular.pug
block modal
	include include/components/_callback_form
block content
	main
		include include/views/_banner
		include include/views/_about
		include include/views/_questions
		include include/views/_advantages
		include include/views/_specialists
		include include/views/_reviews

block footer
	include include/_footer-regular.pug
