.callback-modal
    form.callback-modal__form
        button.form__close
        label.form__title(for='number') Оставьте свой номер телефона
            br
            | и мы вам перезвоним!
        input#number.form__input(placeholder='+7 (XXX) XXX XX XX')
        button.form__send отправить
