@import "vars"
@import "fonts"
@import "libs"
@import "include/index"

::placeholder
	color: #777

::selection
	background-color: $accent
	color: #fff
body
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden
	line-height: unset

	input, textarea
		border: #666 1px solid
		outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

button
	border: none
	cursor: pointer
	&:active,
	&:hover,
	&:focus
		outline: none
p
	margin: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

.active
	display: block !important


//.owl-carousel
//	touch-action: pan-y

@import "media"
// Always at the end
