.about
  color: #777
  font-size: 14px
  font-weight: 400
  letter-spacing: 0.7px
  max-width: 724px
  margin: 0 auto
  position: relative
  padding: 96px 0 194px
  &:before
    content: 'про_нипт'
    position: absolute
    color: #f3f5f6
    font-size: 190px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 2.42px
    left: -150px
    top: 290px
    z-index: -1
  &__title
    color: #444
    font-size: 30px
    text-transform: uppercase
    margin-bottom: 57px
  &__text
    margin-bottom: 5px
  &__list
    padding: 0
    margin-bottom: 5px
    list-style-position: inside
  &__subtitle
    display: block
    color: #444
    text-transform: uppercase
    margin: 14px 0 7px
  &:after
    background-color: #3b54ec
    content: ''
    position: absolute
    width: 2px
    height: 118px
    bottom: 0
    left: 458px
