.advantages
  padding: 71px 50px 228px 0
  max-width: 948px
  position: relative
  margin: 0 auto
  &:before
    content: 'progen'
    position: absolute
    color: #f3f5f6
    font-size: 190px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 2.23px
    left: 7%
    top: 448px
    z-index: -1
  &__title
    text-align: center
    max-width: 392px
    color: #444
    font-size: 30px
    font-weight: 600
    text-transform: uppercase
    margin: 0 auto 109px
  &__block
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    &:nth-of-type(even)
      justify-content: flex-end
      text-align: right
      img
        margin-left: 30px
    &:nth-of-type(odd)
      img
        margin-right: 30px
    &:first-of-type
      margin-bottom: 106px
      .info
        max-width: 360px
    &:nth-of-type(2)
      margin-bottom: 85px
      .info
        max-width: 344px
    &:nth-of-type(3)
      margin-bottom: 85px
      .info
        max-width: 341px
    &:nth-of-type(4)
      .info
        max-width: 312px
    .info
      &__title
        color: #3b54ec
        font-size: 18px
        font-weight: 600
        line-height: 24px
        text-transform: uppercase
        letter-spacing: 0.9px
        margin-bottom: 27px
      &__text
        color: #8a8a8a
        font-size: 16px
        font-weight: 300
        letter-spacing: 0.8px


  &:after
    background-color: #3b54ec
    content: ''
    position: absolute
    width: 2px
    height: 118px
    bottom: 0
    left: 331px
