.buttons
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  position: absolute
  top: 290px
  left: 0
  width: 100%
  &__small
    background: transparent
    font-size: 12px
    font-weight: 400
    border-radius: 18px
    border: 3px solid #8a8a8a
    color: #8a8a8a
    width: 100%
    max-width: 255px
    height: 37px
    text-align: center
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.2)
    text-transform: uppercase
    letter-spacing: 2.4px
    &:hover,
    &:active
      background-color: #8a8a8a
      color: #fff

  &__large
    background-color: #3b54ec
    box-shadow: 0 0 7px rgba(59, 84, 236, 0.35)
    border-radius: 30px
    color: #fff
    font-size: 20px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 4px
    width: 100%
    max-width: 540px
    height: 59px
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.2)
    margin: 0 30px
    &:hover,
    &:active
      background-color: #fff
      color: #3b54ec
