.banner
  background-image: url('../../../img/banner_bg.jpg')
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  min-height: 679px
  z-index: 30
  @media (hover: none) and (pointer: coarse)
    background-attachment: scroll

  &__title
    max-width: 232px
    color: #444
    font-size: 50px
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 2.5px
    margin-bottom: 30px
  &__text
    color: #444
    font-size: 16px
    font-weight: 300
    text-align: center
    max-width: 722px
    margin: 0
  &__button
    box-shadow: 0 0 7px rgba(255, 51, 119, 0.35)
    border-radius: 18px
    background-color: #ff3377
    color: transparent
    height: 37px
    width: 349px
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.2)
    text-transform: uppercase
    letter-spacing: 2.8px
    margin: 81px 0 160px
    position: relative
    &:after
      font-size: 14px
      font-weight: 400
      color: #fff
      content: 'заказать тест'
      position: absolute
      height: 100%
      width: 284px
      line-height: 38px
      margin: 0 auto
      top: 0
      left: 33px
      text-transform: uppercase
      letter-spacing: 2.8px
      text-shadow: 0 0 7px rgba(255, 255, 255, 0.2)
    &:hover,
    &:active
      &:after
        background-color: #f12468
        border-radius: 18px
        color: #fefefe

  &__details
    color: #fff
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.7px
    position: relative
    padding-bottom: 19px
    margin-bottom: 33px
    &:after
      border-bottom: 2px solid #fff
      border-right: 2px solid #fff
      content: ''
      position: absolute
      width: 8px
      height: 8px
      bottom: 0
      right: calc(50% - 4px)
      transform: rotate(45deg)
      animation: bounce 2s infinite
    &:hover,
    &:active
      color: #fff
      text-decoration: none

@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    bottom: 0
  40%
    bottom: 10px
  60%
    bottom: 5px
