.questions
  padding: 41px 0 173px
  max-width: 752px
  position: relative
  margin: 0 auto
  text-align: center
  &:before
    content: 'про_нипт'
    position: absolute
    color: #f3f5f6
    font-size: 190px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 2.42px
    left: -136px
    top: 207px
    z-index: -1
    opacity: 0.5
  &__title
    font-size: 30px
    font-weight: 400
    color: #444
    text-transform: uppercase
    margin-bottom: 147px
  &__container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 100%
    margin-bottom: 43px
    position: relative
    &:after
      background-color: #3b54ec
      background-image: linear-gradient(to right, #3b54ec 0%, #1fffff 50%, #3b54ec 100%)
      content: ''
      position: absolute
      width: 625px
      height: 4px
      bottom: 0
      left: calc(50% - 624px/2)

  &__choice
    cursor: pointer
    padding-bottom: 67px
    margin: 0
    position: relative
    &:after
      content: ''
      background-color: #3b54ec
      border-radius: 50%
      position: absolute
      width: 20px
      height: 20px
      bottom: -8px
      left: calc(50% - 10px)
      z-index: 5
    &:hover,
    &:active,
    &--active
      &:after
        box-shadow: 0 0 14px rgba(31, 255, 255, 0.5)
        background-color: #1fffff
        width: 28px
        height: 28px
        bottom: -12px

  &__icon
    fill: #c7c7c7
    cursor: pointer
    padding-bottom: 62px
    &--active,
    &:hover path
      box-shadow: 0 0 14px rgba(31, 255, 255, 0.5)
      fill: #1fffff
  &__answer
    display: none
  &__active
    display: block

  .answer
    &__title
      color: #3b54ec
      font-size: 14px
      font-weight: 500
      text-transform: uppercase
      text-shadow: 0 0 5px rgba(31, 255, 255, 0.25)
      max-width: 296px
      letter-spacing: 1.05px
      margin: 0 auto 20px
    &__text
      max-width: 384px
      color: #9f9f9f
      font-size: 14px
      font-weight: 400
      margin: 0 auto
      a
        color: #3b55ec
        text-decoration: underline

  &:after
    background-color: #3b54ec
    content: ''
    position: absolute
    width: 2px
    height: 118px
    bottom: 0
    left: calc(50% - 1px)
