.reviews
  background-color: #f3f5f6
  position: relative
  padding: 475px 0 172px
  margin: 0 auto
  text-align: center
  z-index: 5
  &:before
    content: 'отзывы'
    position: absolute
    color: #fff
    opacity: 0.7
    font-size: 190px
    font-weight: 500
    line-height: 42.36px
    text-transform: uppercase
    letter-spacing: 2.34px
    width: 100%
    left: 0
    right: 0
    top: 492px
    z-index: -1
  &__slider
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    max-width: 909px
    margin: 0 auto
  .slider
    &__btn
      background: none
      position: relative
      width: 22px
      height: 22px
      margin-top: 87px
      &:after
        border-right: 4px solid #d9d9d9
        border-bottom: 4px solid #d9d9d9
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      &:hover,
      &:active
        opacity: 0.5
      &--prev
        transform: rotate(135deg)
      &--next
        transform: rotate(-45deg)
  &__block
    max-width: 592px
    margin: 0 auto
  .block
    &__photo
      border-radius: 50%
      width: 126px
      height: 126px
      margin-bottom: 19px
    &__title
      display: block
      color: #444
      font-size: 20px
      font-weight: 500
      line-height: 10.46px
      margin-bottom: 24px
    &__text
      font-size: 14px
      font-weight: 400
      color: #444
