.specialists
  padding: 261px 0 130px 223px
  position: relative
  &:before
    content: 'Наши специалисты'
    position: absolute
    color: #f3f5f6
    font-size: 130px
    font-weight: 500
    line-height: 120px
    text-transform: uppercase
    letter-spacing: 2.35px
    left: 131px
    top: 86px
    z-index: -1
  &__photo
    width: 255px
    height: 352px
  &__card
    box-shadow: 0 0 30px rgba(26, 36, 31, 0.15)
    background-color: #fff
    max-width: 634px
    padding: 44px 92px
    position: absolute
    top: 328px
    left: 413px
    z-index: 100
  .card
    &__title,
    &__subtitle
      color: #444
      font-size: 25px
      font-weight: 400
      letter-spacing: 1.24px
    &__title
      font-size: 33px
      letter-spacing: 1.66px
      text-transform: uppercase
      margin: 0
    &__subtitle
      display: block
      margin-bottom: 20px
    &__label
      display: block
      color: #006ee8
      font-size: 17px
      font-weight: 300
      max-width: 227px
      margin-bottom: 33px
    &__text
      color: #8a8a8a
      font-size: 15px
      font-weight: 400
      letter-spacing: 0.73px
      &:first-of-type
        margin-bottom: 20px



