footer.footer
    include components/_logo
    .footer__contacts.contacts
        a.contacts__link(href='tel:+74996775222') +7 499 677 5222
        a.contacts__link(href='https://progen.su/' target='_blank') progen.su
        a.contacts__link(href='mailto: reception@progen.su') reception@progen.su
        span.contacts__address 117630, Москва, Старокалужское шоссе, дом 62
