header.header
	include components/_logo
	.header__content
		.contacts
			a.contacts__link(href='tel:+74996775222') +7 499 677 5222
			a.contacts__link(href='mailto: reception@progen.su') reception@progen.su
		include mixins/_nav-bar
		+nav-bar([{
			link: '#about',
			text: 'о тесте'
		}, {
			link: '#advantages',
			text: 'преимущества'
		}, {
			link: '#specialists',
			text: 'врачи'
		}, {
			link: '#reviews',
			text: 'отзывы'
		}])
